body {
  background-color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
}
.headerAndTextImage {
  background-image: url("../images/background.png");
}
.brandNameText {
  font-weight: 700;
  font-size: 24px;
  margin-left: 40px;
  color: #ffffff;
}
header {
  display: flex;
  justify-content: space-around;
}
header ul {
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  list-style: none;
  display: flex;
  margin: 0px;
  margin-top: 30px;
}
header ul > li {
  margin-left: 21px;
  cursor: pointer;
}
header ul li:hover {
  color: #23a6f0;
}
.loginText {
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  margin: 0px;
  margin-top: 30px;
  margin-left: 70px;
}
.loginText:hover {
  color: #23a6f0;
}
header button {
  width: 214px;
  height: 52px;
  border-radius: 5px;
  padding: 15px, 25px, 15px, 25px;
  background-color: #23a6f0;
  color: #ffffff;
  border: 1px solid #23a6f0;
  cursor: pointer;
  margin-top: 19px;
}
.yourFinText {
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-bottom: 0px;
  margin-top: 105px;
}
.weKnowHowText {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.getQuoteButton {
  width: 185px;
  height: 52px;
  border-radius: 37px;
  padding: 15px, 36px, 15px, 36px;
  background-color: #23a6f0;
  border: 1px solid #23a6f0;
  color: #ffffff;
  cursor: pointer;
}
.learnMoreButton {
  width: 170px;
  height: 52px;
  background: rgba(0, 0, 0, 0.1);
  border: solid 1px #ffffff;
  border-radius: 37px;
  color: #ffffff;
  cursor: pointer;
}
.yourFinancialAndImagesItem {
  display: flex;
  justify-content: space-around;
}
.betterStrategyText {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  color: #252b42;
  text-align: center;
  margin: 0px;
  margin-top: -13px;
}
.betterStrategyTextAndFourItems {
  margin-top: 112px;
}
.problemsTryingText {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}
.qualityBusinessItems {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}
.qualityBusinessItems div {
  height: Hug(200.53px);
  width: 230px;
  background-color: #ffffff;
  text-align: center;
}
.qualityBusinessItem img {
  margin-top: 23px;
}
.qualituBusinessItemsNumber {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.2px;
  color: #252b42;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.qualityBusinessItem p:last-child {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #737373;
  margin: 0px;
  padding-bottom: 30px;
}
.getQuoteAndLearnMoreButtons {
  margin-top: 35px;
}
.whatClientsSayText p:first-child {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
}
.whatClientsSayText p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #737373;
  margin: 0px;
  margin-top: 10px;
}
.whatClientsSayText {
  text-align: center;
  margin-top: 112px;
}
.whatClientsSayItem {
  margin-top: 55.47px;
  margin-bottom: 112px;
}
.whatClientSayUser {
  display: flex;
  width: 332px;
  height: Hug(248.01) px;
  background: #ffffff;
  width: 507px;
}
.whatClientsSayTwoItems {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}
.clientItem :first-child {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.1px;
  color: #252b42;
  margin-bottom: 0px;
}

.clientItem p:nth-child(2) {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #737373;
  margin: 0px;
}
.clientItem ul {
  list-style: none;
  display: flex;
  padding: 0px;
}
.clientItem p:nth-child(4) {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #737373;
}
.clientItem {
  width: 332px;
  height: Hug(248.01) px;
  padding: 40px 30px 40px 30px;
}
.textsAboutUs {
  text-align: center;
  margin-bottom: 96px;
}
.videoAndMostTrustedItems {
  display: flex;
  justify-content: space-around;
}
.playImagesItem {
  background-image: url(../images/video1.jpg);
  height: 442px;
  width: 592px;
}
.mostTrustedImgAndTheQuickText {
  display: flex;
}
.theQuickForJumpsIcon {
  width: 32px;
  height: 32px;
  margin-right: 20.5px;
}
.textsAboutUs :first-child {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.2px;
  color: #252b42;
  margin: 0px;
}
.textsAboutUs :nth-child(2) {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}
.opacityImage {
  background-image: url(../images/filter.png);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playButton {
  width: 92.6px;
  height: 92.6px;
}
.mostTustedTexts :first-child {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.1px;
  color: #252b42;
  margin: 0px;
  margin-bottom: 10px;
}
.mostTustedTexts :nth-child(2) {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-top: 0px;
}
.theQuickFoxJumpsText :first-child {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1px;
  color: #252b42;
}
.theQuickFoxJumpsText :nth-child(2) {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #737373;
}
.mostTrustedImgsAndTheQuickTextsItem {
  margin-top: 50px;
}
.whatClientsSayItem {
  margin-bottom: 224px;
}
.mostTrustedTextsAndIcons {
  padding: 63px 90px 112px;
}
.pircingTitleTexts {
  text-align: center;
}
.pircingTitleTexts :first-child {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.2px;
  color: #252b42;
  margin-bottom: 10px;
}
.pircingTitleTexts :nth-child(2) {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}
.pircingItems {
  margin-top: 112px;
}
.selectGreenButton {
  background-color: #2dc071;
  width: 32px;
  height: 32px;
  border-radius: 200px;
  cursor: pointer;
}
.freeItems {
  width: 253px;
  height: Hug(641) px;
  padding: 50px 70px 50px 70px;
  border-radius: 10px;
  background-color: #ffffff;
  border: solid 1px #23a6f0;
}
.tityleFree :first-child {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252b42;
}
.tityleFree :nth-child(2) {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #737373;
}
.tityleFree {
  text-align: center;
}
.free0DolarItem div:first-child {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.2px;
}
.doloarAndPerMonth :first-child {
  margin: 0px;
}
.doloarAndPerMonth {
  margin-left: 10px;
}
.doloarAndPerMonth :nth-child(2) {
  margin: 0px;
}
.free0DolarItem {
  display: flex;
  color: #23a6f0;
  align-items: center;
  justify-content: right;
  width: 200px;
}
.selectedTexts {
  margin-top: 44px;
}
.selectedTexts div {
  margin-top: 10px;
}
.tryForFreeAndBuyNowButtons {
  width: 279px;
  height: 52px;
  padding: 15px, 40px, 15px, 40px;
  background: #23a6f0;
  border-radius: 5px;
  color: #ffffff;
  margin-top: 35px;
  cursor: pointer;
}
.selectGreyButton {
  background-color: #bdbdbd;
  width: 32px;
  height: 32px;
  border-radius: 200px;
  cursor: pointer;
}
.freeAndStandartItems{
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
}